<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
    <div fxFlex="50">
        <mat-list>
            <mat-list-item>
                <h1>Gráfica de Radar</h1>
            </mat-list-item>
            <mat-list-item>Los datos son incertados por arreglos de datos de tipo número</mat-list-item>
            <mat-list-item>1, 2, 3, 4, 5, 6</mat-list-item>
            <mat-list-item>Los labels son incertados por arreglos de datos de tipo string</mat-list-item>
            <mat-list-item>primer item, segundo item, tercer item, cuarto item, quinto item</mat-list-item>
            <mat-list-item>Los datos de label son incertados por arreglos de datos de tipo string</mat-list-item>
            <mat-list-item>primer item, segundo item, tercer item, cuarto item, quinto item</mat-list-item>
        </mat-list>
    </div>
    <div fxFlex="50">
        <canvas baseChart [datasets]="radarChartDatasets" [options]="radarChartOptions" [labels]="radarChartLabels"
            [type]="'radar'">
        </canvas>

    </div>
</div>